.poster {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.banner img {
  width: 100%;
  object-fit: cover;
  height: 30vw;
}

.txt {
  width: 50%;
  margin: 0 25% 0 25%;
}

.txt h1 {
  text-align: center;
  display: block;
}

.txt li{   font-style: italic;}

.recursos {
  margin-bottom: 25px;
  margin-top: 25px;
}

.recursos h2 {
  color: green;
  font-weight: 700;
}

.recursos a {
  font-style: italic;
  font-weight: 700;
}

.otros {
  font-style: italic;
  font-weight: 700;
  font-size: large;
}

.articulo{
    margin-bottom: 50px;
    margin-top: 50px;
    background-color: rgba(202, 202, 202, 0.329);
}

.articulo li{
    font-style: italic;

}

.articulo a{
    font-weight: 700;
    font-style: italic;
}